#titulo {
    color: cornflowerblue;
}

.verde {
    color: green;
}

h1 {
    color: red;
}

p {
    color: green;
}


h1 {
    color: blue;
}

.titulos-grandes {
    font-size: 50px;
}

h1 {
    color: red;
}